
.wrapper{
    padding: 4rem 10rem;
    background: white;
}

.introparagraph, .secondparagraph{
    /* width: 70%; */
    margin: auto;
    text-align: center;
    font-family: 'Lexend', sans-serif;
    color: rgb(0,0,50)
}
.secondparagraph{
    margin-bottom: 1rem;
}
table{
    width: 70%;
    margin: auto;
    color: rgb(0,0,50)
}
thead{
    font-size: 1.4rem;
    
}

tr{
    text-align: center;
    height: 2.5em;
    font-weight: 600;
}
tr:nth-child(even) {
    background-color: #D6EEEE;
  }

  @media screen and (max-width: 650px){
    .wrapper{
        padding: 2rem 0;
    }

    .introparagraph, .secondparagraph{
        width: 90%;
        text-align: justify;
        
    }
  }
  