
.wrapper{
    padding: 4rem 10rem;
    background: white;
}

.introparagraph, .secondparagraph{
    margin: auto;
    text-align: justify;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    color: rgb(0,0,50)
}
.secondparagraph{
    margin-bottom: 1rem;
}
.table{
    width: 70%;
    margin: auto;
    color: rgb(0,0,50)
}
.thead{
    font-size: 1.4rem;
    font-family: 'Raleway', sans-serif;
    
}

tr{
    text-align: center;
    height: 2.5em;
    font-weight: 600;
}
td{
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
}
tr:nth-child(even) {
    background-color: #D6EEEE;
  }

  @media screen and (max-width: 650px){
    .wrapper{
        padding: 2rem 1.5rem;
    }

    .introparagraph, .secondparagraph{
        width: 100%;
        text-align: justify;
        font-size: 15px;
        
    }
    thead{
        font-size: 1.2rem;
    }
    .table{
        width: 100%;
        margin: 0;
    }
  }
  