.container {
    width: calc(100vw - 15rem);
}

.innercontainer {
    margin: 5rem 20px 20px 20px;
}

.table{
    width: 100%;
    color: rgb(0,0,50);
}

thead{
    font-size: 1.1rem;
}
.tbody{
    font-size: 0.9rem;
}

/* tr{
    text-align: center;
    height: 2.5em;
    font-weight: 600;
} */
.td{
    font-weight: 500;
    border-bottom: 1px solid black;
  
}

@media screen and (max-width: 650px){
    .container{
        width: 100%;
    }
    .hide{
        display: none;
    }
}