.container{
    position: absolute;
    /* background: linear-gradient(to left, #f5f5f5, white); */
    background-color: aliceblue;
    height:calc(100vh - 5rem);
    width: 60%;
    display: none;
    margin-top: 5rem;
    z-index: 50;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
@media screen and (max-width: 650px){
    .container{
        display: block;
        transition: 0.4s all ease-in;
    }
    .hide{
        transform: translateX(-110%);
    }
}