.container{
    width: 100%;
    height: 45rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    font-family: 'Lexend', sans-serif;
    border-bottom: 7px solid #D4F1F4;
    
  }
  .item{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    opacity: 0;
    transition: all 2s ease-in-out;
  }
  .show{
    opacity: 1;
  }

  @media screen and (max-width: 900px) {
    .container{
      height: 40rem;
    }
  }