.wrapper{
    margin-top: 7rem;
    /* border: 1px solid red; */
    margin-left: 2rem;
    margin-right: 2rem;
    padding: 4rem;
}

  .heading {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
  }
  
  .usericon {
    width: 6rem;
    height: 6rem;
    background: lightgray;
    border-radius: 50%;
    color: black;
    /* position: relative; */
    display: flex;
    align-items: center;
    justify-content: center;
  }
 
  .usericon div {
    background-color: lightgray;
    border-radius: 50%;
    height: 6rem;
    width: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .pp{
    border-radius: 50%;
    height: 100%;
    width: 100%;
    object-fit: cover;
    /* position: absolute; */
    /* z-index: 1000; */
  }
  .initials{
    display: block;
    font-size: 2rem;
    /* margin-left: 1.9rem;
    margin-top: 1.5rem; */
  }

  .avatar {
    height: 2rem;
    width: 2rem;
  }
   .add input{
    display: none;
   }

  .add .label {
    color: yellowgreen;
    /* color: #3489ce; */
  }
  .label button{
    margin-left: 2rem;
    padding: 0.5rem;
    border: none;
    /* border: 1px solid #3489ce; */
    border-radius: 0.2rem;
  }
  .label button:hover{
    /* background-color: yellowgreen; */
    background: linear-Gradient(to right, rgb(0,0,50), yellowgreen);
    color: white;
  }
  .add {
    color: yellowgreen;
    font-weight: 200;
    font-size: 0.9rem;
    margin-top: 0.5rem;
  }
  .formwrap {
    margin-top: 2rem;
  }
  .formwrap .form {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5rem;
    row-gap: 2rem;
  }
  
  
  @media screen and (max-width: 650px) {
    .profile {
      min-height: 100vh;
    }
    .wrapper {
      padding: 1rem;
      margin: 5rem 0 3rem 0;
    }
    .heading {
      display: flex;
      flex-direction: column;
    }
    .heading h2 {
      font-size: 1.2rem;
      margin: 2rem 0;
    }
    article p {
      font-size: 0.9rem;
    }
    .formwrap form {
      grid-template-columns: 1fr;
    }
  }