.container {
    /* border: 1px red solid; */
    width: 100%;
    /* max-width: max-content; */
    display: flex;
    flex-direction: column;
    /* gap: 0.5rem; */
  }
  .inputLabel {
    font-size: 1.2rem;
    color: #1b1b32;
    margin-bottom: 0.5rem;
    /* font-weight: bold; */
    /* text-transform: capitalize; */
  }
  .input {
    outline: none;
    border: 1px gray solid;
    border-radius: 0.3rem;
    background: transparent;
    width: 100%;
    max-width: 100%;
    /* height: 3rem; */
    padding: 0.7rem;
    font-size: 1rem;
  }

  .smaller{
    font-size: 0.65rem;
  }
  .input:focus {
    border: 2px #1b1b32 solid;
  }

  @media screen and (max-width: 650px){
    
  }