.links {
    width: 100%;
    max-width: 40rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1em;
}

.link {
    text-decoration: none;
    font-size: 1rem;
    padding: 0.3rem 0.6rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.5s;
    border-radius: 0.2em;
    font-weight: 500;
    font-size: 15px;
    color: white;
    font-family: 'Raleway', sans-serif;

}

.link span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-color: rgba(3, 138, 255, 1); */
    background-color: linear-gradient(to right, transparent,  yellowgreen);
    border-radius: 0.2em;
    z-index: -1;
    transform: scale(0);
    opacity: 0;
    transition: 0.5s;
}

.link:hover span,
.active span {
    transform: scale(1);
    opacity: 1;
}
.signin{
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset; */
    padding: 0.4em;
}
.change {
    /* color: #333; */
    color: #fff;
  }
.show{
    opacity: 1;
}
.pathname{
  background: linear-gradient(to bottom, white, #6CB4EE);
  /* background: #6CB4EE; */
  color: rgb(24, 23, 23);
  /* background-color: pink; */
}


@media screen and (max-width: 1000px) {
    .navLinks {
    max-width: 23rem;
  }
  .links {
    font-size: 1.3rem;
  }
  }

  @media screen and (max-width: 650px) {
    .links {
      display: none;
    }
    .mobileNavLinks {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;
    }
    .mobileLinks{
      margin-bottom: 2rem;
    }
    .mobileContact{
      transform: translateY(10rem);
    }
  }
  