.container {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper {
    border-radius: 1rem;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    padding-top: 1rem;
    width: 32rem;
    height: 30rem;
    background: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.messagewrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.imgcontainer {
    border: 1px solid #6CB4EE;
    width: 10rem;
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    /* background-color: #3489ce; */
    /* background: gainsboro; */
}

.imgcontainer img {
    height: 80%;
    width: 100%;
}
.imgcontainer p{
    display: flex;
    align-items: center;
}

.message {
    margin-top: 1rem;
}

.instruction {
    margin-top: 4rem;
    color: #3489ce;
}

.instruction span {
    color: orange;
}

.buttons {
    width: 100%;
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.btn {
    padding: 1rem 1.5rem;
    border-radius: 0.2rem;
    border: none;
    background-color: #6CB4EE;
    font-size: 1.2rem;
    color: #fff;
    transition: 0.5s all ease-in;
    display: flex;
    align-items: center;

}

.btn:hover {
    background-color: #3489ce;
}

.btn span {
    margin-left: 1rem;
}

@media screen and (max-width: 650px){
    .wrapper{
        height: 100%;
        border-radius: 0;
        padding: 1rem;
    }
    .btn{
        padding: 0.8rem;
        font-size: 1rem;
    }
}