.matrixSection{
    margin-top: 7rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.matrixSection h3{
    font-size: 2rem;
}
