.howitworks {
    padding: 4rem 10rem;
    background-color: #eceee9;
    width: 100%;
}

.boxContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;
    width: calc(100vw-20rem);
}
.paragraph{
    margin: auto;
    text-align: justify;
    line-height: 1.8rem;
    color: rgba(0,0,50,1);
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
}

.box {
    height: 18rem;
    width: 22rem;
    background-color: #fff;
    border-radius: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 2rem;
    color: rgba(0,0,50,1);
}
.box p{
    font-family: 'Raleway', sans-serif; 
}

.icon{
    width: 4rem;
    height: 4rem;
    margin-bottom: 1rem;
    color: black;
    /* color: yellowgreen; */
}
.box:hover .icon{
    color: white;
    transform: scale(1.2);
    transition: 0.5s all ease-in-out;
}
.box:hover p{
    transition: .5s all ease-out;
    transform: translateY(10%);
}
.box h3{
    margin-bottom: 1rem;
    font-family: 'Raleway', sans-serif;
}

.box:hover{
    background-color: gray;
    color: #fff;
    transition: 0.5s ease-in all;
}

@media screen and (max-width: 650px){
    .howitworks{
        width: 100%;
        padding: 5rem 1.5rem;
    }
    .paragraph{
        width: 100%;
        padding-bottom: 1rem;
        font-size: 15px;
    }

    .boxContainer{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .box{
        margin-bottom: 1rem;
        width: 85%;
    }
    .box h3, .box p{
        font-family: 'Raleway', sans-serif;
    }
}