.wrap{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container{
  /* display: flex; */
  /* align-items: center; */
  flex-direction: column;
  padding-top: 4rem;
}
.icon{
    display: flex;
    align-items: center;
    font-family: 'Lexend', sans-serif;
    font-size: 1.2em;
    color: slategrey;
    padding-bottom: 2rem;
    text-align: left;
    font-weight: 800;
}
.logo{
    width: 1.1rem;
    height: 1.1rem;
}
.title{
    color: slategrey;
    font-family: 'Lexend', sans-serif;
    font-size: 1em;
}

.formgroup{
    width: 30em;
    margin: auto;
    margin-bottom: 2em;
    margin-top: 2em;
}

@media screen and (max-width: 650px){
    .formgroup{
        width: 25em;
    }
    .title{
        font-size: medium;
    }
}