.org-_node {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 8px;
    text-align: center;
  }
  .avatar{
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    object-fit: cover;
  }
  .org_node p {
    margin-top: 8px;
  }

  @media (max-width: 650px) {
    .org_node {
      margin: 4px;
    }
  
    .org_node p {
      font-size: 10px; 
    }
  }