* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
* a {
  text-decoration: none;
  color: black;
}
body {
  width: 100%;
  overflow-x: hidden;
}
.App {
  width: 100%;
  overflow-x: hidden;
}
.scroll{
  bottom: 6rem;
}
.arrowUpBox{
  width: 100%;
  max-width: 2.8rem;
  height: 2.8rem;
  border-radius: 15%;
  position: fixed;
  right: 1.5rem;
  bottom: -3rem;
  z-index: 20;
  background-color: rgb(0, 0, 50);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 1s ease-in-out;
}
.arrowUp{
  font-size: 1.8rem;
  /* color: rgba(3, 138, 255, 1); */
  color: #fff;
}
.arrowScroll{
  bottom: 1rem;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.holder{
  background: rgba(0, 0, 50, 0.7);
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lds-ring {
  display: inline-block;
  /* position: relative; */
  width: 60px;
  height: 60px;
  margin: auto;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

